@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;600&family=Poppins:wght@300;400;600&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.handwriting {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Noto Sans Thai', sans-serif;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.main-con {
    width: 100%;
    position: relative;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

hr {
    background-color: #a09f9f67;
    border: none;
    height: 0.5px;
}

.logo {
    justify-content: center;
    display: flex;
}

.Header {
    background-image: url(pic/images.png);
    background-repeat: no-repeat;
    background-size: 200px;
    width: 200px;
    height: 200px;
}

.navigetor {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.nav-menu {
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
    color: #504e4e;
    display: flex;
    gap: 50px;
    font-size: 17.5px;
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    display: inline-block;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    height: auto;
    height: fit-content;
    width: 100%;
    max-width: 327px;
    border: 1px;
    border-radius: 10px;
    box-shadow: 6px 6px 15px #504f4f;
    padding: 0px;
    align-items: center;

}

.content-img {
    width: 100%;
    height: auto;
    max-width: 310px;
    max-height: 362.78px;
    border-radius: 15px;
    object-fit: cover;
    object-position: top;
    padding: 10px;
}

.content-text {
    width: 90%;
    font-size: 16px;
    color: #3b3a3a;
    margin-bottom: 15px;
}

.content-text h3 {}

.img-nav {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.main-container {
    width: 100%;
    text-align: left;
}

.main-container {
    margin: 0 20px 0 75px;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.main-conta {
    max-width: 800px;
}

.main-conta p {
    text-transform: uppercase;
}

.main-img {
    width: 100%;
    height: auto;
    max-width: 800px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}

.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 295px;
    gap: 15px;
    margin-left: 10px;
}

.widget-follow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: left;
}

.slider {
    margin: 0 20px 0 75px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img-show {
    position: center;

}

.image-stack {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding: 10px;
}

.photo{
    border-radius: 2.5px;
}

.p1 {
    width: 100%;
}

.p2 {
    width: 100%;
}

.p3 {
    width: 100%;
}

@media (max-width:768px) {

    .main-content {
    display: flex;
    flex-direction: column;
}

    .main-container {
        margin: 0 20px 0 20px;
    }

    .slider {
        overflow-x: auto; 
        flex-wrap: nowrap;
        scroll-snap-type: x mandatory; 
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-bottom: 30px;
    }

    .slider::-webkit-scrollbar {
        display: none;
    }

    .content {
        flex: 0 0 85%;
        scroll-snap-align: center;
        max-width: 230px;
    }

    .content-text p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .hide-on-mobile {
        display: none;
    }
}
